*,
*::before,*::after {
  box-sizing: border-box;
}
img{
  display:block;
  max-width: 100%; 
  object-fit:cover;
  height: auto;
}
a {
  text-decoration:none;
  color:#404040;
}

body{
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  letter-spacing:0.2em;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* 順便強制洗掉內凹陰影與預設邊框 */
  background: transparent;
  box-shadow: none;
}



