*,
*::before,*::after {
  box-sizing: border-box;
}
img{
  display:block;
  max-width: 100%; 
  object-fit:cover;
  height: 256px;
}
a {
  text-decoration:none;
  color:#404040;
}

body{
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  letter-spacing:0.2em;
}




